html {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.preload {
    position: fixed;
    top:-999px;
    left: -999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.preload img {
    width: 1px;
    height: 1px;
}

.wrapper {
    width: 100%;
    height: 100%;
}

/* === login === */
.login {
    width: 600px;
    margin: 50px auto 0;
    border: 1px solid #AAA;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

input {
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
}

.select_camp {
    margin-bottom: 20px;
}

.camp {
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
    color: #333;
    margin: 0 auto 15px;
    border: 1px solid #BBB;
    border-radius: 5px;
    cursor: pointer;
}

.camp.active {
    border: 3px solid #03a9f4;
    line-height: 44px;
}

.start_btn {
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* === strategy === */
.strategy {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #333;
    position: relative;
}

.camp_list {
    width: 180px;
    height: 100%;
    position: absolute;
    top: 0;
}
.camp_list.allience {
    left: 10px;
}
.camp_list.axis {
    right: 10px;
}

.camp_list p {
    font-size: 16px;
    font-weight: bold;
}

.list_wrapper {
    width: 100%;
    height: 80%;
    overflow-y: auto;
}

.camp_character {
    width: 100%;
    height: 50px;
    line-height: 40px;
    margin-bottom: 10px;
    /* border: 1px solid #BBB; */
    box-sizing: border-box;
    padding: 5px;
}

.camp_character.iam {
    border: 3px solid orange;
}

.map {
    width: 400px;
    height: 290px;
    border: 1px solid #333;
    position: absolute;
    top: 0;
    left: 200px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.country {
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    margin: 0 15px 15px 0;
    /* float: left; */
    display: inline-block;
}

.country.allience {
    border: 1px solid #03a9f4;
    /* background-color: #03a9f4; */
}

.country.axis {
    border: 1px solid #f44336;
    /* background-color: #f44336; */
}

.battle_name {
    width: 400px;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 300px;
    left: 200px;
    border: 1px solid #333;
}

.counter {
    width: 400px;
    height: 35px;
    line-height: 35px;
    color: orange;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 345px;
    left: 200px;
    border: 1px solid #333;
}

.join_board {
    width: 400px;
    height: 210px;
    border: 1px solid #333;
    position: absolute;
    bottom: 0;
    left: 200px;
}

.join_wrapper {
    margin-bottom:10px;
}

.join_wrapper::after {
    content: '';
    clear: both;
    display: block;
}

.seat {
    width: 90px;
    line-height: 40px;
    float: left;
    border: 1px solid #BBB;
    margin-right: 10px;
    text-align: center;
}

.seat.joinable {
    background-color: orange;
    cursor: pointer;
}

.seat p {
    margin: 0;
}

/* === battle field === */
.header {
    width: 800px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.hui {
    display: inline-block;
}

.hui.allience {
    float: left;
}

.hui.axis {
    float: right;
}

.hui.battle_counter {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.main {
    width: 800px;
    height: 600px;
    /* margin: 100px auto 150px; */
    /* border: 1px solid #333; */
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    box-sizing: border-box;
    background-image: url('../images/pc_bg.jpg');
    background-size: 100% 100%;
    z-index: 0;
}
.tank {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    z-index: 1;
    opacity: 1;
}

.tank_name {
    width: 100%;
    height: 15px;
    position: absolute;
    top: -15px;
    left: 0;
    text-align: center;
    font-size: 10px;
}

.tank_base {
    width: 100%;
    height: 100%;
    background-image: url('../images/tank_body.gif');
    background-size: 100% 100%;
    transform-origin: 15px 15px;
    z-index: 2;
}

.tank_base.right {
    transform: rotate(0deg);
}
.tank_base.down {
    transform: rotate(90deg);
}
.tank_base.left {
    transform: rotate(180deg);
}
.tank_base.up {
    transform: rotate(270deg);
}
.tank_base.right.down {
    transform: rotate(45deg);
}
.tank_base.left.down {
    transform: rotate(135deg);
}
.tank_base.left.up {
    transform: rotate(225deg);
}
.tank_base.right.up {
    transform: rotate(315deg);
}

.tank_cannon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/tank_canon.gif');
    /* background-image: url('../images/explode.gif'); */
    background-size: 100% 100%;
    transform-origin: 15px 15px;
    z-index: 2;
}

.tank p {
    width: 100%;
    text-align:center;
    margin: 0;
    line-height: 30px;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
.hp_bar {
    height: 3px;
    background-color: red;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.tank.hit {
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-name: hit;
}
.tank.disable {
    /* z-index: -1;
    opacity: 0 !important; */
    animation-name: boom;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.tank.disable .tank_body {
    /* background-image: url('../images/boom_1.gif'); */
    background-image: none;
}

.tank.disable .tank_cannon {
    background-image: url('../images/explode.gif');
}

.tank.iam::before {
    content: '▼';
    width: 100%;
    text-align: center;
    color: red;
    font-size: 12px;
    position: absolute;
    top: -15px;
    left: 0;
    animation-duration: .5s;
    animation-name: flow;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.bullet {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid #AAA;
    position: absolute;
    top: 0;
    left: 0;
}

.controller {
    width: 800px;
    height: 350px;
    /* border: 1px solid #333; */
    margin: 0 auto;
    position: fixed;
    top: 850px;
    left: 50%;
    transform: translateX(-50%);
}
.box {
    width:350px;
    height: 350px;
    position: absolute;
    top: 0;
    /* border: 1px solid red; */
    overflow: hidden;
}

.box.direction {
    left: 0;
}
.box.fire {
    right: 0;
}

.round_panel {
    width: 350px;
    height: 350px;
    border-radius: 175px;
    background-color: #AAA;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.dot {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 100px;
    position: absolute;
    top: 75px;
    left: 75px;
    z-index: 2;
}
.fire_btn {
    font-size: 28px;
    font-weight: bold;
    width: 350px;
    height: 350px;
    background-color: #DDD;
    color: black;
    text-align: center;
    line-height: 350px;
    border-radius: 175px;
    touch-action: manipulation;
}
.fire_btn.active {
    background-color: #AAA;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

@media screen and (max-width: 800px) {
    .controller {
        display: block;
    }
}

@media screen and (min-width: 801px) {
    .controller {
        display: none;
    }
}

@keyframes hit {
    0%{
        opacity: 1;
    }
    15%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    45%{
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
@keyframes flow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(25%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes boom {
    0% {
        z-index: 1;
        opacity: 1;
    }
    25% {
        z-index: 1;
        opacity: 1;
    }
    26% {
        z-index: -1;
        opacity: 0 !important;
    }
    100%{
        z-index: -1;
        opacity: 0 !important;
    }
}

.main.buffer {
    background-image: url('../images/buffer.gif');
    background-size: 256px 256px;
}

.main.buffer div {
    display: none;
}