html {
    width: 100%;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.preload {
    position: fixed;
    top:-999px;
    left: -999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.preload img {
    width: 1px;
    height: 1px;
}

.wrapper {
    width: 100%;
    height: 100%;
}

/* === login === */
.login {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 0;
    border: 1px solid #AAA;
    border-radius: 10px;
    /* padding: 20px; */
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    position: relative;
}

.login_input {
    margin: 0 auto;
    padding: 10px;
    font-size: 26px;
    position: absolute;
    /* border: 1px solid red; */
    top: 119px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    letter-spacing: 1px;
    border: none;
}

.login_input:focus {
    outline: none;
}

.select_camp {
    margin-bottom: 20px;
}

.camp {
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
    color: #333;
    margin: 0 auto 15px;
    border: 1px solid #BBB;
    border-radius: 5px;
    cursor: pointer;
}

.camp.active {
    border: 3px solid #03a9f4;
    line-height: 44px;
}

.start_btn {
    padding: 15px 25px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
}

/* === strategy === */
.strategy {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid #333;
    position: relative;
}

.camp_list {
    width: 180px;
    height: 100%;
    position: absolute;
    top: 0;
}
.camp_list.allience {
    left: 10px;
}
.camp_list.axis {
    right: 10px;
}

.camp_list p {
    font-size: 16px;
    font-weight: bold;
}

.list_wrapper {
    width: 100%;
    height: 80%;
    overflow-y: auto;
}

.camp_character {
    width: 100%;
    height: 50px;
    line-height: 40px;
    margin-bottom: 10px;
    /* border: 1px solid #BBB; */
    box-sizing: border-box;
    padding: 5px;
}

.camp_character.iam {
    border: 3px solid orange;
}

.map {
    width: 400px;
    height: 290px;
    border: 1px solid #BBB;
    position: absolute;
    top: 0;
    left: 200px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.country {
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    margin: 0 15px 15px 0;
    /* float: left; */
    display: inline-block;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

.country.allience {
    border: 1px solid #03a9f4;
    /* background-color: #03a9f4; */
}

.country.allience.engage {
    animation-name: allience-engage;
}

.country.axis {
    border: 1px solid #f44336;
    /* background-color: #f44336; */
}

.country.axis.engage {
    animation-name: axis-engage;
}

.battle_name {
    width: 400px;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    position: absolute;
    top: 300px;
    left: 200px;
    border: 1px solid #999;
}

.counter {
    width: 400px;
    height: 35px;
    line-height: 35px;
    color: orange;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    position: absolute;
    top: 345px;
    left: 200px;
    border: 1px solid #999;
}

.join_board {
    width: 400px;
    height: 210px;
    border: 1px solid #999;
    position: absolute;
    bottom: 0;
    left: 200px;
    padding: 10px;
    box-sizing: border-box;
}

.join_board p {
    margin: 0 0 10px;
}

.join_wrapper {
    margin-bottom:15px;
}

.join_wrapper::after {
    content: '';
    clear: both;
    display: block;
}

.seat {
    width: 80px;
    line-height: 30px;
    font-size: 12px;
    float: left;
    border: 1px solid #BBB;
    margin-right: 10px;
    text-align: center;
}

.seat.joinable {
    background-color: orange;
    cursor: pointer;
}

.seat p {
    margin: 0;
}

/* === battle field === */
.header {
    width: 800px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    /* border: 1px solid red; */
}

.hui {
    display: inline-block;
    font-weight: bold;
    padding: 10px 120px;
}

.hui span {
    color: red;
    font-size: 20px;
}

.hui.allience {
    float: left;
    font-size: 16px;
}

.hui.axis {
    float: right;
    font-size: 16px;
}

.hui.battle_counter {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
    color: orange;
}

.fps {
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    color: white;
    font-size: 14px;
}

.render {
    left: 0px;
    top: 30px;
}

.main_wrapper {
    width: 800px;
    height: 600px;
    border: 2px solid black;
    position: fixed;
    box-sizing: border-box;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: #333; */
    overflow: hidden;
    background-color: #333;
}

.main {
    width: 800px;
    height: 600px;
    /* margin: 100px auto 150px; */
    /* border: 1px solid #333; */
    /* position: fixed; */
    /* top: 50px; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    transform-origin: 400px 300px;
    overflow: hidden;
    box-sizing: border-box;
    /* transition: transform .6s; */
    /* background-image: url('../images/pc_bg.jpg'); */
    /* background-image: url('../images/ground5.png'); */
    /* background-size: 100% 100%; */
    z-index: 0;
}

.main.ground1 {
    background-image: url('../images/ground1.png');
}

.main.ground2 {
    background-image: url('../images/ground2.png');
    background-size: 40px 40px;
}

.main.ground3 {
    background-image: url('../images/ground3.png');
    background-size: 40px 40px;
}

.main.ground4 {
    background-image: url('../images/ground4.png');
    background-size: 40px 40px;
}

.main.ground5 {
    background-image: url('../images/ground5.png');
    background-size: 40px 40px;
}

.result {
    width: 100%;
    padding: 20px;
    /* height: 60px; */
    /* line-height: 60px; */
    /* font-size: 28px; */
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,.75);
    color: white;
    z-index: 10;
    box-sizing: border-box;
}

.result p {
    margin: 0 0 20px;
}

.result_title {
    font-size: 28px;
}

.crushes {
    width: 40%;
    /* border: 1px solid red; */
    display: inline-block; 
    padding: 0 50px;
    box-sizing: border-box;
}

.crushes p {
    font-size: 20px;
    text-align: left;
}

.crushes p.result_detail {
    font-size: 16px;
    margin: 0 0 10px
}

.crushes p.result_detail span {
    float: right;
}

/* ====== TODO: tank  ====== */

.tank {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    opacity: 1;
    /* transform: rotate(90deg); */
    z-index: 2;
}

.tank_name {
    width: 150%;
    height: 15px;
    line-height: 15px;
    position: absolute;
    top: -15px;
    left: -25%;
    text-align: center;
    font-size: 10px;
    /* background-color: rgba(0,0,0,0.75); */
}

.tank_name span {
    background-color: rgba(0,0,0,1);
    padding: 2px 4px;
}

.tank .tank_name {
    color: #03a9f4;
}

.tank.axis .tank_name {
    color: #f44336;
}

.tank_base {
    width: 100%;
    height: 100%;
    /* background-image: url('../images/tank_1.svg'); */
    background-size: 100% 100%;
    transform-origin: 25px 25px;
    z-index: 2;
}
.tank_base.body1 {
    background-image: url('../images/tank_1.svg');
}
.tank_base.body2 {
    background-image: url('../images/tank_2.svg');
}
.tank_base.body3 {
    background-image: url('../images/tank_3.svg');
}
.tank_base.body4 {
    background-image: url('../images/tank_4.svg');
}

.tank.axis .tank_base {
    /* background-image: url('../images/tank_2.svg'); */
}

.tank_base.right {
    transform: rotate(90deg);
    /* transform: rotate(0deg); */
}
.tank_base.down {
    transform: rotate(180deg);
    /* transform: rotate(90deg); */
}
.tank_base.left {
    transform: rotate(270deg);
    /* transform: rotate(180deg); */
}
.tank_base.up {
    transform: rotate(360deg);
    /* transform: rotate(270deg); */
}
.tank_base.right.down {
    transform: rotate(135deg);
    /* transform: rotate(45deg); */
}
.tank_base.left.down {
    transform: rotate(225deg);
    /* transform: rotate(135deg); */
}
.tank_base.left.up {
    transform: rotate(315deg);
    /* transform: rotate(225deg); */
}
.tank_base.right.up {
    transform: rotate(405deg);
    /* transform: rotate(315deg); */
}

.tank_cannon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: url('../images/tank_canon_1.svg'); */
    /* background-image: url('../images/explode.gif'); */
    background-size: 100% 100%;
    transform-origin: 25px 25px;
    z-index: 2;
}

.tank_cannon.cannon1 {
    background-image: url('../images/tank_canon_1.svg');
}
.tank_cannon.cannon2 {
    background-image: url('../images/tank_canon_2.svg');
}
.tank_cannon.cannon3 {
    background-image: url('../images/tank_canon_3.svg');
}
.tank_cannon.cannon4 {
    background-image: url('../images/tank_canon_4.svg');
}

.tank.axis .tank_cannon {
    /* background-image: url('../images/tank_canon_2.svg'); */
}

.tank p {
    width: 100%;
    text-align:center;
    margin: 0;
    line-height: 30px;
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
.hp_wrapper {
    width: 100%;
    padding: 1px;
    /* height: 3px; */
    /* background-color: red; */
    position: absolute;
    bottom: -5px;
    left: 0;
    background-color: rgba(0,0,0,.6)
}

.hp_bar {
    height: 3px;
    transition: width .3s;
}

.tank.hit {
    animation-duration: 1.5s;
    animation-timing-function: linear;
    /* animation-name: hit; */
}
.tank.disable {
    /* z-index: -1;
    opacity: 0 !important; */
    animation-name: boom;
    animation-duration: 1.5s;
    /* animation-timing-function: linear; */
    /* animation-fill-mode: forwards; */
}

.tank.disable .tank_body {
    /* background-image: url('../images/boom_1.gif'); */
    /* background-image: none; */
}

.tank.disable .tank_cannon {
    background-image: url('../images/boom.gif');
}

.tank.iam::before {
    content: '▼';
    width: 100%;
    text-align: center;
    color: red;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: -25px;
    left: 0;
    animation-duration: .5s;
    animation-name: flow;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 5;
}

.bullet {
    width: 10px;
    height: 10px;
    /* border-radius: 5px; */
    /* border: 1px solid #333; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-size: 100% 100%;
}

.bullet.allience {
    background-image: url('../images/bullet_b.svg')
}
.bullet.axis {
    background-image: url('../images/bullet_r.svg')
}

/* === controller === */

.controller {
    width: 800px;
    height: 350px;
    /* border: 1px solid #333; */
    margin: 0 auto;
    position: fixed;
    top: 850px;
    left: 50%;
    transform: translateX(-50%);
}
.box {
    width:350px;
    height: 350px;
    position: absolute;
    top: 0;
    /* border: 1px solid red; */
    overflow: hidden;
}

.box.direction {
    left: 0;
}
.box.fire {
    right: 0;
}

.round_panel {
    width: 350px;
    height: 350px;
    border-radius: 175px;
    background-color: #AAA;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.dot {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 100px;
    position: absolute;
    top: 75px;
    left: 75px;
    z-index: 2;
}
.fire_btn {
    font-size: 28px;
    font-weight: bold;
    width: 350px;
    height: 350px;
    background-color: #DDD;
    color: black;
    text-align: center;
    line-height: 350px;
    border-radius: 175px;
    touch-action: manipulation;
}
.fire_btn.active {
    background-color: #AAA;
}

.visiter {
    width: 100%;
    /* height: 30px;
    line-height: 30px; */
    padding: 5px;
    background-color: orange;
    color: black;
    text-align: center;
    font-size: 16px;
    position: fixed;
    bottom: 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

@media screen and (max-width: 750px) {
    .controller {
        display: block;
    }
    .login {
        max-width: 750px;
        font-size: 26px;
    }
    .login input {
        font-size: 26px;
    }
    .login .start_btn {
        font-size: 26px;
    }

    .visiter {
        font-size: 24px;
        padding: 10px;
    }
}

@media screen and (min-width: 751px) {
    .controller {
        display: none;
    }
}

@keyframes allience-engage {
    0% {
        border-color: #03a9f4
    }
    50% {
        border-color: white;
    }
    100%{
        border-color: #03a9f4
    }
}

@keyframes axis-engage {
    0% {
        border-color: #f44336;
    }
    50% {
        border-color: white;
    }
    100%{
        border-color: #f44336;
    }
}

@keyframes hit {
    0%{
        opacity: 1;
    }
    15%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    45%{
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}
@keyframes flow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30%);
    }
    100% {
        transform: translateY(0);
    }
}

.main.buffer {
    background-image: url('../images/buffer.gif');
    background-size: 256px 256px;
}

.main.buffer div {
    display: none;
}